.output {
  display: hide;
}

.jumbotron{
  background-color: lightblue;
   text-align: center;
  font-size: 20px;
}

label {
  margin-left: 15px;
}

#submit {
  margin-left: 5%;
}

.container {
  background-color: #beead7;
}
