 body {
  /* margin: 2%;
  padding: 50px;  */
  background-color: lightblue;
} 

#jumbotron {
  display: none;
}

#survey {
  margin: 5%;
}

.container {
margin: 5%;
background-color: lightblue;
} 

.langCSS {
  display: none;
}

.cResult {
  display: none;
}
 
.rubyResult {
  display: none;
}
 
img {
  margin: auto;
  width:300px;
}

p.link {
  text-align: center;
}