body {
  margin: 5%
  padding: 20px;
  background-color: lightblue;
}

.jumbotron {
  text-align: center;
  background-color: lightgrey;
  background-size: cover;
  background-position: bottom;
  color: black;
}

.container {
margin: 10px;
background-color: lightblue;
}
#frontResult {
  display: none;
}

#corJavaResult {
  display: none;
}

#rubyResult {
  display: none;
}
